.wrapper {
  position: relative;
  width: 100%;
  height: 0;
  line-height: 0;
  pointer-events: none;
  z-index: 1;
  --wave-h: 100px;
}

.svg {
  position: absolute;
  left: 0;
  width: 100%;
  height: var(--wave-h);
  display: block;
}

.normal .svg {
  bottom: calc(-1 * var(--wave-h));
}

.flip .svg {
  top: calc(-1 * var(--wave-h));
}

@media (max-width: 768px) {
  .wrapper {
    --wave-h: 70px;
  }
}

@media (max-width: 480px) {
  .wrapper {
    --wave-h: 50px;
  }

  .svg {
    height: var(--wave-h);
  }
}
